<a href="https://colab.research.google.com/github/paolalarap/aprendiendo_panda_con_alura/blob/main/Ejercicios_de_clase_pandaES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula 1 - Leyendo archivos CSV**

Importando archivos CSV

In [1]:
import pandas as pd

In [2]:
datos=pd.read_csv('superstore_data.csv')

In [3]:
datos.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [4]:
datospuntoycoma=pd.read_csv('superstore_data_punto_coma.csv')

In [5]:
datospuntoycoma

     Id;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;Response;Complain
0     1826;1970;Graduation;Divorced;84835;0;0;6/16/2...
1     1;1961;Graduation;Single;57091;0;0;6/15/2014;0...
2     10476;1958;Graduation;Married;67267;0;1;5/13/2...
3     1386;1967;Graduation;Together;32474;1;1;11/5/2...
4     5371;1989;Graduation;Single;21474;1;0;8/4/2014...
...                                                 ...
2235  10142;1976;PhD;Divorced;66476;0;1;7/3/2013;99;...
2236  5263;1977;2n Cycle;Married;31056;1;0;1/22/2013...
2237  22;1976;Graduation;Divorced;46310;1;0;3/12/201...
2238  528;1978;Graduation;Married;65819;0;0;11/29/20...
2239  4070;1969;PhD;Married;94871;0;2;1/9/2012;99;16...

[2240 rows x 1 columns]